
.content {
    margin-top: 4em;
    width:70%;
    float: left;
    height: 100%;
    padding: 1em 2em 1em 2em;

}
.container_post{
    border: 1px solid grey;
    border-radius: 2em;
    margin: 0 0 1em 0;
    padding: 1em 2em 1em 2em;
}
.container-profile{
     border: 1px solid rgb(208, 250, 169);
     border-radius: 2em;
     margin: 0 0 1em 0;
     padding: 1em 2em 1em 2em;
}
.user_side_post {
    border-left: 1px solid black;
    height: 30em;
    padding-left: 1em;
}
.sidebar{
    margin-top: 6em;
    width: 30%;
    float: right;
    border-left: 1px solid grey;
    height: 100%;
    
}

h5{
    color: black;
}

.sendmail a:hover{
    background: rgb(130, 248, 228);
    color:black;
}
.comment_section{
    border-top: 1px solid #beabff;
    border-bottom: 1px solid #beabff;
    /* border: 1px solid grey; */
}
.col-sm-9 {
    margin:1em 30em 0 1em;
    padding: 1em;
    border:1px solid darkseagreen;
    border-radius: 2em;
}
#id_name,#id_email,#id_body,#id_title,#id_author,#id_status{
    background: rgb(228, 248, 240);
}

.btn input:hover{
    background: khaki;
}

.signup{
    border:1px solid darkseagreen;
    border-radius: 2em;
    padding: 1em;
}
.login{
    border:1px solid darkseagreen;
    border-radius: 2em;
}

 /* .list-type5 {
     border: 1px solid rgb(247, 211, 211);
 } */

 .list-type5 {
     width: 410px;
     margin: 0 auto;
 }

 .list-type5 ol {
     list-style-type: none;
     list-style-type: decimal !ie;
     /*IE 7- hack*/
     margin: 0;
     margin-left: 1em;
     padding: 0;
     counter-reset: li-counter;
 }

 .list-type5 ol li {
     position: relative;
     margin-bottom: 1.5em;
     padding: 0.5em;
     background-color: #F0D756;
     padding-left: 58px;
 }

 .list-type5 a {
     text-decoration: none;
     color: black;
     font-size: 15px;
     font-family: 'Raleway', sans-serif;
 }

 .list-type5 li:hover {
     box-shadow: inset -1em 0 #6CD6CC;
     -webkit-transition: box-shadow 0.5s;
     /* For Safari 3.1 to 6.0 */
     transition: box-shadow 0.5s;
 }

 .list-type5 ol li:before {
     position: absolute;
     top: -0.3em;
     left: -0.5em;
     width: 1.8em;
     height: 1.2em;
     font-size: 2em;
     line-height: 1.2;
     font-weight: bold;
     text-align: center;
     color: white;
     background-color: #6CD6CC;
     transform: rotate(-20deg);
     -ms-transform: rotate(-20deg);
     -webkit-transform: rotate(-20deg);
     z-index: 99;
     overflow: hidden;
     content: counter(li-counter);
     counter-increment: li-counter;
 }