{%extends 'blog/index.html' %}
{% load crispy_forms_tags %}

{%block content%}

<div class="content">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-">Log In</legend>
            {{ form|crispy }}
        </fieldset>
        <div class='form-group'>
            <input type="submit" class="btn btn-info" value="Login">
            <small class="text-muted"><a class="ml-2" href="{% url 'password_reset'%}">Forgot Password? </a></small>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">Need An Account? <a class="ml-2" href="{% url 'signup'%}">Sign Up Now</a></small>
    </div>

</div>

{%endblock%}


{% block sidebar %}
{%endblock%}

