{%extends 'blog/index.html' %}
{% load crispy_forms_tags %}

{%block content%}

<div class="content">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-">Reset Password</legend>
            {{ form|crispy }}
        </fieldset>
        <div class='form-group'>
            <input type="submit" class="btn btn-info" value="Request Password Reset">
        </div>
    </form>
    

</div>

{%endblock%}


{% block sidebar %}
{%endblock%}
