{% extends 'chemistry/base.html' %}
{% load static %}

<title>{% block title%}Acid, Base & Salt{% endblock %}</title>

{% block link %}

{% endblock %}

{% block script %}
{% endblock %}

{% block chemistry_body%}

<div class="container container-card">
    <h2 class="display-4" style="font-family: 'Jim Nightshade';font-size: 36px;padding-top: 0.5em;" align="center">What
        is Acid?</h2>
    <hr style="border-color: rgb(12, 12, 12);">
    <p>An acid is a molecule or ion capable of donating a proton (hydrogen ion H<sup>+</sup>) (a Bronsted–Lowry acid),
        or,
        alternatively, capable of forming a covalent bond with an electron pair (a Lewis acid).<br><br>

        The first category of acids are the proton donors, or Bronsted–Lowry acids. In the special case of aqueous
        solutions, proton donors form the hydronium ion H3O+ and are known as Arrhenius acids. Bronsted and Lowry
        generalized the Arrhenius theory to include non-aqueous solvents. A Bronsted or Arrhenius acid usually contains
        a hydrogen atom bonded to a chemical structure that is still energetically favorable after loss of
        H<sup>+</sup>.<br><br>

        Aqueous Arrhenius acids have characteristic properties which provide a practical description of an acid.
        Acids form aqueous solutions with a sour taste, can turn blue litmus red, and react with bases and certain
        metals (like calcium) to form salts. The word acid is derived from the Latin acidus/acēre meaning sour. An
        aqueous solution of an acid has a pH less than 7 and is colloquially also referred to as 'acid' (as in
        'dissolved in acid'), while the strict definition refers only to the solute. A lower pH means a higher
        acidity, and thus a higher concentration of positive hydrogen ions in the solution. Chemicals or substances
        having the property of an acid are said to be acidic.<br><br>

        Modern definitions are concerned with the fundamental chemical reactions common to all acids.<br>

        Most acids encountered in everyday life are aqueous solutions, or can be dissolved in water, so the Arrhenius
        and Bronsted-Lowry definitions are the most relevant.<br>

        The Bronsted-Lowry definition is the most widely used definition; unless otherwise specified, acid-base
        reactions are assumed to involve the transfer of a proton (H<sup>+</sup>) from an acid to a base.<br>

        Hydronium ions are acids according to all three definitions. Although alcohols and amines can be Bronsted-Lowry
        acids, they can also function as Lewis bases due to the lone pairs of electrons on their oxygen and nitrogen
        atoms.
    
    </p><br><br>

    <h5>Lewis acids : </h5><br>
    <p>A Lewis acid is a species that accepts a pair of electrons from another species; in other words, it is an
        electron pair acceptor. Bronsted acid-base reactions are proton transfer reactions while Lewis acid-base
        reactions are electron pair transfers. Many Lewis acids are not Bronsted-Lowry acids. Contrast how the following
        reactions are described in terms of acid-base chemistry:</p>

    <div align="center">
        <img style="width:80%;height80%;"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/LewisAcid.png/561px-LewisAcid.png"
            alt="">
    </div>
    <p>In the first reaction a fluoride ion, F<sup>-</sup>, gives up an electron pair to boron trifluoride to
        form the
        product tetrafluoroborate. Fluoride "loses" a pair of valence electrons because the electrons shared in
        the B—F bond are located in the region of space between the two atomic nuclei and are therefore more
        distant from the fluoride nucleus than they are in the lone fluoride ion. BF<sub>3</sub> is a Lewis acid because
        it
        accepts the electron pair from fluoride. This reaction cannot be described in terms of Bronsted theory
        because there is no proton transfer. The second reaction can be described using either theory. A proton
        is transferred from an unspecified Bronsted acid to ammonia, a Bronsted base; alternatively, ammonia
        acts as a Lewis base and transfers a lone pair of electrons to form a bond with a hydrogen ion. The
        species that gains the electron pair is the Lewis acid; for example, the oxygen atom in
        H<sub>3</sub>O<sup>+</sup>
        gains a
        pair of electrons when one of the H—O bonds is broken and the electrons shared in the bond become
        localized on oxygen. Depending on the context, a Lewis acid may also be described as an oxidizer or an
        electrophile. Organic Bronsted acids, such as acetic, citric, or oxalic acid, are not Lewis acids.
        They dissociate in water to produce a Lewis acid, H+, but at the same time also yield an equal amount of
        a Lewis base (acetate, citrate, or oxalate, respectively, for the acids mentioned). Few, if any, of the
        acids discussed in the following are Lewis acids.</p>

    <h2 class="display-4" style="font-family: 'Jim Nightshade';font-size: 36px;padding-top: 0.5em;" align="center">What
        is Base?</h2>
    <hr style="border-color: rgb(12, 12, 12);">
    <p>
        In chemistry, bases are substances that, in aqueous solution, release hydroxide (OH<sup>-</sup>) ions, are slippery to the
        touch, can taste bitter if an alkali, change the color of indicators (e.g., turn red litmus paper blue),
        react with acids to form salts, promote certain chemical reactions (base catalysis), accept protons from any
        proton donor or contain completely or partially displaceable OH<sup>-</sup> ions. Examples of bases are the
        hydroxides of
        the alkali metals and the alkaline earth metals (NaOH, Ca(OH)<sup>2</sup>, etc.—see alkali hydroxide and alkaline earth
        hydroxide).<br><br>

        In water, by altering the autoionization equilibrium, bases yield solutions in which the hydrogen ion activity
        is lower than it is in pure water, i.e., the water has a pH higher than 7.0 at standard conditions. A soluble
        base is called an alkali if it contains and releases OH<sup>-</sup> ions quantitatively. However, it is
        important to
        realize that basicity is not the same as alkalinity. Metal oxides, hydroxides, and especially alkoxides are
        basic, and conjugate bases of weak acids are weak bases.<br><br>

        Bases can be thought of as the chemical opposite of acids. However, some strong acids are able to act as
        bases. Bases and acids are seen as opposites because the effect of an acid is to increase the hydronium
        (H<sub>3</sub>O<sup>+</sup>) concentration in water, whereas bases reduce this concentration. A reaction between an acid
        and a base is
        called neutralization. In a neutralization reaction, an aqueous solution of a base reacts with an aqueous
        solution of an acid to produce a solution of water and salt in which the salt separates into its component ions.
        If the aqueous solution is saturated with a given salt solute, any additional such salt precipitates out of the
        solution.<br><br>
    </p>
    <hr>
    <h5 style="font-family: 'Clicker Script';font-size: 26px;">Properties</h5>
    <p>General properties of bases include:</p>
    <li>Concentrated or strong bases are caustic on organic matter and react violently with acidic substances.</li>
    <li>Aqueous solutions or molten bases dissociate in ions and conduct electricity.</li>
    <li>Reactions with indicators: bases turn red litmus paper blue, phenolphthalein pink, keep bromothymol blue in its
        natural colour of blue, and turn methyl orange-yellow.</li>
    <li>The pH of a basic solution at standard conditions is greater than seven.</li>
    <li>Bases are bitter.</li>
    <li>example :
        Lithium hydroxide (LiOH),
        Sodium hydroxide (NaOH),
        Potassium hydroxide (KOH),
        Rubidium hydroxide (RbOH),
        Cesium hydroxide (CsOH)</li>

    <hr style="border-color: rgb(12, 12, 12);">

    <h2 class="display-4" style="font-family: 'Jim Nightshade';font-size: 36px;padding-top: 0.5em;" align="center">What
        is Salt?</h2>
    <hr style="border-color: rgb(12, 12, 12);">
    <p>
        Salt is an ionic compound that results from the neutralization reaction of acids and bases. Salts are
        constituted of positively charged ions, known as cations and negatively charged ions, known as anions, which can
        either be organic or inorganic in nature. These ions are present in a relative amount, thus rendering the nature
        of the salt neutral.
    </p>

    <div align="center">
        <img style="width:30%;height:30%;"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/Himalayan_salt_of_Sa%C3%BAde_flea_market%2C_S%C3%A3o_Paulo%2C_Brazil.jpg/330px-Himalayan_salt_of_Sa%C3%BAde_flea_market%2C_S%C3%A3o_Paulo%2C_Brazil.jpg"
            alt="">
            <p>Himalayan salt is halite with a distinct pink color</p>
    </div>
</div>



{% endblock %}