{% extends 'chemistry/base.html' %}
{% load static %}

<title>{% block title%}Carbon & Compounds{% endblock %}</title>

{% block link %}

{% endblock %}

{% block script %}
{% endblock %}

{% block chemistry_body%}

<div class="container container-card">
    <h2 class="display-4" style="font-family: 'Jim Nightshade';font-size: 36px;padding-top: 0.5em;" align="center">What
        is Carbon?</h2>
    <hr style="border-color: rgb(12, 12, 12);">
    <p>
        Carbon (from Latin: carbo "coal") is a chemical element with the symbol C and atomic number 6. It is nonmetallic
        and tetravalent—making four electrons available to form covalent chemical bonds. It belongs to group 14 of the
        periodic table. Three isotopes occur naturally, 12C and 13C being stable, while 14C is a radionuclide,
        decaying with a half-life of about 5,730 years. Carbon is one of the few elements known since antiquity.<br><br>

        Carbon is the 15th most abundant element in the Earth's crust, and the fourth most abundant element in the
        universe by mass after hydrogen, helium, and oxygen. Carbon's abundance, its unique diversity of organic
        compounds, and its unusual ability to form polymers at the temperatures commonly encountered on Earth enables
        this element to serve as a common element of all known life. It is the second most abundant element in the human
        body by mass (about 18.5%) after oxygen.<br><br>

        The atoms of carbon can bond together in diverse ways, resulting in various allotropes of carbon. The best known
        allotropes are graphite, diamond, and buckminsterfullerene. The physical properties of carbon vary widely
        with the allotropic form. For example, graphite is opaque and black while diamond is highly transparent.
        Graphite is soft enough to form a streak on paper (hence its name, from the Greek verb "γράφειν" which means "to
        write"), while diamond is the hardest naturally occurring material known. Graphite is a good electrical
        conductor while diamond has a low electrical conductivity. Under normal conditions, diamond, carbon nanotubes,
        and graphene have the highest thermal conductivities of all known materials. All carbon allotropes are solids
        under normal conditions, with graphite being the most thermodynamically stable form at standard temperature and
        pressure. They are chemically resistant and require high temperature to react even with oxygen.<br><br>

        The most common oxidation state of carbon in inorganic compounds is +4, while +2 is found in carbon monoxide and
        transition metal carbonyl complexes. The largest sources of inorganic carbon are limestones, dolomites and
        carbon dioxide, but significant quantities occur in organic deposits of coal, peat, oil, and methane clathrates.
        Carbon forms a vast number of compounds, more than any other element, with almost ten million compounds
        described to date, and yet that number is but a fraction of the number of theoretically possible compounds
        under standard conditions.<br><br>
        <div align="center">
            <p>Carbon, <sub>6</sub>C</p>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Graphite-and-diamond-with-scale.jpg/330px-Graphite-and-diamond-with-scale.jpg"
                alt="">
            <p>Graphite (left) and diamond (right), two allotropes of carbon</p>
            <p>Allotropes : graphite, diamond, others</p>
        </div>

    </p>

    <hr>
    <h4 style="font-family: 'Alex Brush';font-size: 26px;">Characteristics</h4>
    <hr style="border-color: rgb(12, 12, 12);">
    <p>
      
        The allotropes of carbon include graphite, one of the softest known substances, and diamond, the hardest
        naturally occurring substance. It bonds readily with other small atoms, including other carbon atoms, and is
        capable of forming multiple stable covalent bonds with suitable multivalent atoms. Carbon is known to form
        almost ten million compounds, a large majority of all chemical compounds. Carbon also has the highest
        sublimation point of all elements. At atmospheric pressure it has no melting point, as its triple point is at
        10.8±0.2 MPa and 4,600 ± 300 K (4,330 ± 300 °C; 7,820 ± 540 °F), so it sublimes at about 3,900 K (3,630
        °C; 6,560 °F). Graphite is much more reactive than diamond at standard conditions, despite being more
        thermodynamically stable, as its delocalised pi system is much more vulnerable to attack. For example, graphite
        can be oxidised by hot concentrated nitric acid at standard conditions to mellitic acid,
        C<sub>6</sub>(CO<sub>2</sub>H)<sub>6</sub>, which
        preserves the hexagonal units of graphite while breaking up the larger structure.<br><br>
        Carbon sublimes in a carbon arc, which has a temperature of about 5800 K (5,530 °C or 9,980 °F). Thus,
        irrespective of its allotropic form, carbon remains solid at higher temperatures than the highest-melting-point
        metals such as tungsten or rhenium. Although thermodynamically prone to oxidation, carbon resists oxidation more
        effectively than elements such as iron and copper, which are weaker reducing agents at room temperature.

    </p>


    <hr>
    <h4 style="font-family: 'Alex Brush';font-size: 26px;">Allotropes</h4>
    <hr style="border-color: rgb(12, 12, 12);">
    <p>

        Atomic carbon is a very short-lived species and, therefore, carbon is stabilized in various multi-atomic
        structures with diverse molecular configurations called allotropes. The three relatively well-known allotropes
        of carbon are amorphous carbon, graphite, and diamond. Once considered exotic, fullerenes are nowadays commonly
        synthesized and used in research; they include buckyballs, carbon nanotubes, carbon nanobuds and
        nanofibers. Several other exotic allotropes have also been discovered, such as lonsdaleite, glassy
        carbon, carbon nanofoam and linear acetylenic carbon (carbyne).<br><br>

        Graphene is a two-dimensional sheet of carbon with the atoms arranged in a hexagonal lattice. As of 2009,
        graphene appears to be the strongest material ever tested.The process of separating it from graphite will
        require some further technological development before it is economical for industrial processes.If
        successful, graphene could be used in the construction of a space elevator. It could also be used to safely
        store hydrogen for use in a hydrogen based engine in cars.<br><br>
        <div align="center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/Glassy_carbon_and_a_1cm3_graphite_cube_HP68-79.jpg/330px-Glassy_carbon_and_a_1cm3_graphite_cube_HP68-79.jpg"
                alt="">
            <p>A large sample of glassy carbon</p>
        </div><br>
        The amorphous form is an assortment of carbon atoms in a non-crystalline, irregular, glassy state, not held in a
        crystalline macrostructure. It is present as a powder, and is the main constituent of substances such as
        charcoal, lampblack (soot) and activated carbon. At normal pressures, carbon takes the form of graphite, in
        which each atom is bonded trigonally to three others in a plane composed of fused hexagonal rings, just like
        those in aromatic hydrocarbons. The resulting network is 2-dimensional, and the resulting flat sheets are
        stacked and loosely bonded through weak van der Waals forces. This gives graphite its softness and its cleaving
        properties (the sheets slip easily past one another). Because of the delocalization of one of the outer
        electrons of each atom to form a π-cloud, graphite conducts electricity, but only in the plane of each
        covalently bonded sheet. This results in a lower bulk electrical conductivity for carbon than for most metals.
        The delocalization also accounts for the energetic stability of graphite over diamond at room temperature.<br>
        <div align="center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Eight_Allotropes_of_Carbon.svg/450px-Eight_Allotropes_of_Carbon.svg.png"
                alt="">
            <p>Some allotropes of carbon: a) diamond; b) graphite; c) lonsdaleite; d–f) fullerenes (C<sup>60</sup>,
                C<sup>540</sup>, C<sup>70</sup>); g)
                amorphous carbon; h) carbon nanotube</p>
        </div><br>

    </p>

    <hr>
    <h4 style="font-family: 'Alex Brush';font-size: 26px;">Isotopes</h4>
    <hr style="border-color: rgb(12, 12, 12);">
    <p>
        Isotopes of carbon are atomic nuclei that contain six protons plus a number of neutrons (varying from 2 to 16).
        Carbon has two stable, naturally occurring isotopes. The isotope carbon-12 (<sup>12</sup>C) forms 98.93% of the
        carbon
        on Earth, while carbon-13 (<sup>13</sup>C) forms the remaining 1.07%. The concentration of <sup>12</sup>C is
        further increased in
        biological materials because biochemical reactions discriminate against <sup>13</sup>C. In 1961, the
        International
        Union of Pure and Applied Chemistry (IUPAC) adopted the isotope carbon-12 as the basis for atomic weights.
        Identification of carbon in nuclear magnetic resonance (NMR) experiments is done with the isotope
        <sup>13</sup>C.

        Carbon-14 (<sup>14</sup>C) is a naturally occurring radioisotope, created in the upper atmosphere (lower
        stratosphere and
        upper troposphere) by interaction of nitrogen with cosmic rays. It is found in trace amounts on Earth of 1
        part per trillion (0.0000000001%) or more, mostly confined to the atmosphere and superficial deposits,
        particularly of peat and other organic materials. This isotope decays by 0.158 MeV β− emission. Because of
        its relatively short half-life of 5730 years, <sup>14</sup>C is virtually absent in ancient rocks. The amount of
        14C in the
        atmosphere and in living organisms is almost constant, but decreases predictably in their bodies after death.
        This principle is used in radiocarbon dating, invented in 1949, which has been used extensively to determine the
        age of carbonaceous materials with ages up to about 40,000 years.

        There are 15 known isotopes of carbon and the shortest-lived of these is 8C which decays through proton emission
        and alpha decay and has a half-life of 1.98739 × 10<sup>-21</sup> s. The exotic <sup>19</sup>C exhibits a
        nuclear halo,
        which
        means its radius is appreciably larger than would be expected if the nucleus were a sphere of constant
        density.
    </p><br>
    
    <hr style="border-color: rgb(12, 12, 12);">
    <h2 class="display-4" style="font-family: 'Jim Nightshade';font-size: 36px;padding-top: 0.5em;" align="center">Compounds</h2>
    <h4 style="font-family: 'Alex Brush';font-size: 26px;">Organic compounds</h4>
    <hr style="border-color: rgb(12, 12, 12);">
    <p>
        Carbon can form very long chains of interconnecting carbon–carbon bonds, a property that is called catenation.
        Carbon-carbon bonds are strong and stable. Through catenation, carbon forms a countless number of compounds. A
        tally of unique compounds shows that more contain carbon than do not.[79] A similar claim can be made for
        hydrogen because most organic compounds contain hydrogen chemically bonded to carbon or another common element
        like oxygen or nitrogen.<br><br>

        The simplest form of an organic molecule is the hydrocarbon—a large family of organic molecules that are
        composed of hydrogen atoms bonded to a chain of carbon atoms. A hydrocarbon backbone can be substituted by other
        atoms, known as heteroatoms. Common heteroatoms that appear in organic compounds include oxygen, nitrogen,
        sulfur, phosphorus, and the nonradioactive halogens, as well as the metals lithium and magnesium. Organic
        compounds containing bonds to metal are known as organometallic compounds (see below). Certain groupings of
        atoms, often including heteroatoms, recur in large numbers of organic compounds. These collections, known as
        functional groups, confer common reactivity patterns and allow for the systematic study and categorization of
        organic compounds. Chain length, shape and functional groups all affect the properties of organic
        molecules.<br><br>

        In most stable compounds of carbon (and nearly all stable organic compounds), carbon obeys the octet rule and is
        tetravalent, meaning that a carbon atom forms a total of four covalent bonds (which may include double and
        triple bonds). Exceptions include a small number of stabilized carbocations (three bonds, positive charge),
        radicals (three bonds, neutral), carbanions (three bonds, negative charge) and carbenes (two bonds, neutral),
        although these species are much more likely to be encountered as unstable, reactive intermediates.<br><br>

        Carbon occurs in all known organic life and is the basis of organic chemistry. When united with hydrogen, it
        forms various hydrocarbons that are important to industry as refrigerants, lubricants, solvents, as chemical
        feedstock for the manufacture of plastics and petrochemicals, and as fossil fuels.<br><br>

        When combined with oxygen and hydrogen, carbon can form many groups of important biological compounds including
        sugars, lignans, chitins, alcohols, fats, and aromatic esters, carotenoids and terpenes. With nitrogen it forms
        alkaloids, and with the addition of sulfur also it forms antibiotics, amino acids, and rubber products. With the
        addition of phosphorus to these other elements, it forms DNA and RNA, the chemical-code carriers of life, and
        adenosine triphosphate (ATP), the most important energy-transfer molecule in all living cells.<br>
        <div align="center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Methane-2D-stereo.svg/225px-Methane-2D-stereo.svg.png"
                alt="">
            <p>Structural formula of methane, the simplest possible organic compound.</p>
        </div><br><hr>
    </p>
    <h4 style="font-family: 'Alex Brush';font-size: 26px;">Inorganic compounds</h4>
    <hr style="border-color: rgb(12, 12, 12);">
    <p>
        Commonly carbon-containing compounds which are associated with minerals or which do not contain bonds to the
        other carbon atoms, halogens, or hydrogen, are treated separately from classical organic compounds; the
        definition is not rigid, and the classification of some compounds can vary from author to author (see reference
        articles above). Among these are the simple oxides of carbon. The most prominent oxide is carbon dioxide (CO
        <sub>2</sub>). This was once the principal constituent of the paleoatmosphere, but is a minor component of the Earth's
        atmosphere today. Dissolved in water, it forms carbonic acid (H<sub>2</sub>CO<sub>3</sub>), but as most
        compounds with
        multiple single-bonded oxygens on a single carbon it is unstable. Through
        this intermediate, though, resonance-stabilized carbonate ions are produced. Some important minerals are
        carbonates, notably calcite. Carbon disulfide (CS<sub>2</sub>) is similar. Nevertheless, due to its physical properties and its association with organic synthesis,
        carbon disulfide is sometimes classified as an organic solvent.

        The other common oxide is carbon monoxide (CO). It is formed by incomplete combustion, and is a colorless,
        odorless gas. The molecules each contain a triple bond and are fairly polar, resulting in a tendency to bind
        permanently to hemoglobin molecules, displacing oxygen, which has a lower binding affinity. Cyanide
        (CN<sup>-</sup>), has a similar structure, but behaves much like a halide ion (pseudohalogen). For example, it can form the
        nitride cyanogen molecule ((CN)<sub>2</sub>), similar to diatomic halides. Likewise, the heavier analog of
        cyanide,
        cyaphide (CP<sup>-</sup>), is also considered inorganic, though most simple derivatives are highly unstable.
        Other uncommon
        oxides are carbon suboxide (C<sub>3</sub>O<sub>2</sub>), the unstable dicarbon monoxide
        (C<sub>2</sub>O), carbon trioxide (CO<sub>3</sub>),
        cyclopentanepentone
        (C<sub>5</sub>O<sub>5</sub>), cyclohexanehexone (C<sub>6</sub>O<sub>6</sub>), and mellitic anhydride
        (C<sub>12</sub>O<sub>9</sub>). However,
        mellitic anhydride
        is the
        triple acyl anhydride of mellitic acid; moreover, it contains a benzene ring. Thus, many chemists consider it to
        be organic.

        With reactive metals, such as tungsten, carbon forms either carbides (C<sup>4-</sup>) or acetylides
        (C<sup>2-</sup><sub>2</sub>2) to form alloys with high melting points. These anions are also associated with
        methane and acetylene, both
        very weak acids. With an electronegativity of 2.5, carbon prefers to form covalent bonds. A few carbides are
        covalent lattices, like carborundum (SiC), which resembles diamond. Nevertheless, even the most polar and
        salt-like of carbides are not completely ionic compounds.
    </p>

</div>
{% endblock %}