{% extends 'chemistry/base.html' %}
{% load static %}

<title>{% block title%}Metals & Non-Metals{% endblock %}</title>

{% block link %}

{% endblock %}

{% block script %}
{% endblock %}

{% block chemistry_body%}

<div class="container container-card">
    <h2 class="display-4" style="font-family: 'Jim Nightshade';font-size: 36px;padding-top: 0.5em;" align="center">What
        is Metals?</h2>
    <hr style="border-color: rgb(12, 12, 12);">
    <p>

        A metal  is a material that, when freshly prepared,
        polished, or fractured, shows a lustrous appearance, and conducts electricity and heat relatively well. Metals
        are typically malleable (they can be hammered into thin sheets) or ductile (can be drawn into wires). A metal
        may be a chemical element such as iron; an alloy such as stainless steel; or a molecular compound such as
        polymeric sulfur nitride.<br><br>

        In physics, a metal is generally regarded as any substance capable of conducting electricity at a temperature of
        absolute zero. Many elements and compounds that are not normally classified as metals become metallic under
        high pressures. For example, the nonmetal iodine gradually becomes a metal at a pressure of between 40 and 170
        thousand times atmospheric pressure. Equally, some materials regarded as metals can become nonmetals. Sodium,
        for example, becomes a nonmetal at pressure of just under two million times atmospheric pressure.<br><br>

        In chemistry, two elements that would otherwise qualify (in physics) as brittle metals—arsenic and antimony—are
        commonly instead recognised as metalloids, on account of their predominately non-metallic chemistry. Around 95
        of the 118 elements in the periodic table are metals (or are likely to be such). The number is inexact as the
        boundaries between metals, nonmetals, and metalloids fluctuate slightly due to a lack of universally accepted
        definitions of the categories involved.<br><br>

        In astrophysics the term "metal" is cast more widely to refer to all chemical elements in a star that are
        heavier than the lightest two, hydrogen and helium, and not just traditional metals. A star fuses lighter atoms,
        mostly hydrogen and helium, into heavier atoms over its lifetime. Used in that sense, the metallicity of an
        astronomical object is the proportion of its matter made up of the heavier chemical elements.<br><br>

        Metals, as chemical elements, comprise 25% of the Earth's crust and are present in many aspects of modern life.
        The strength and resilience of some metals has led to their frequent use in, for example, high-rise building and
        bridge construction, as well as most vehicles, many home appliances, tools, pipes, and railroad tracks. Precious
        metals were historically used as coinage, but in the modern era, coinage metals have extended to at least 23 of
        the chemical elements.<br><br>

        The history of refined metals is thought to begin with the use of copper about 11,000 years ago. Gold, silver,
        iron (as meteoric iron), lead, and brass were likewise in use before the first known appearance of bronze in the
        5th millennium BCE. Subsequent developments include the production of early forms of steel; the discovery of
        sodium—the first light metal—in 1809; the rise of modern alloy steels; and, since the end of World War II, the
        development of more sophisticated alloys.<br><br>
    </p>
    <div align="center">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Iron_electrolytic_and_1cm3_cube.jpg/330px-Iron_electrolytic_and_1cm3_cube.jpg"
            alt="">
    </div>
    <p align="center">Iron, shown here as fragments and a 1 cm3 cube, is an example of a chemical element that is a
        metal.</p><br><hr>

   <h4 style="font-family: 'Alex Brush';font-size: 26px;">Properties</h4>
   <hr>
   <h6>Form and structure : </h6>
   <p>Metals are shiny and lustrous, at least when freshly prepared, polished, or fractured. Sheets of metal thicker
       than a few micrometres appear opaque, but gold leaf transmits green light.<br><br>

       The solid or liquid state of metals largely originates in the capacity of the metal atoms involved to readily
       lose their outer shell electrons. Broadly, the forces holding an individual atom's outer shell electrons in place
       are weaker than the attractive forces on the same electrons arising from interactions between the atoms in the
       solid or liquid metal. The electrons involved become delocalised and the atomic structure of a metal can
       effectively be visualised as a collection of atoms embedded in a cloud of relatively mobile electrons. This type
       of interaction is called a metallic bond. The strength of metallic bonds for different elemental metals
       reaches a maximum around the center of the transition metal series, as these elements have large numbers of
       delocalized electrons.</p>

       <div align="center">
           <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Gallium_crystals.jpg/330px-Gallium_crystals.jpg"
               alt="">
       </div>
       <p align="center">Gallium crystals.</p><br>
       <hr>
       <h6 style="font-family: 'Alex Brush';font-size: 26px;">Periodic table distribution</h6>
       <hr>
       <p>In chemistry, the elements which are usually considered to be metals under ordinary conditions are shown in
           yellow on the periodic table below. The elements shown as having unknown properties are likely to be metals.
           The remaining elements are either metalloids (B, Si, Ge, As, Sb, and Te being commonly recognised as such) or
           nonmetals. Astatine (At) is usually classified as either a nonmetal or a metalloid; it has been predicted to
           be a metal. It is here shown as a metalloid.</p>
        <hr style="border-color: rgb(12, 12, 12);">

        <h2 class="display-4" style="font-family: 'Jim Nightshade';font-size: 36px;padding-top: 0.5em;" align="center">
            What is Non Metals?</h2>
        <hr style="border-color: rgb(12, 12, 12);">
        <p>

            In chemistry, a nonmetal (or non-metal) is a chemical element that mostly lacks the characteristics of a
            metal. Physically, a nonmetal tends to have a relatively low melting point, boiling point, and density. A
            nonmetal is typically brittle when solid and usually has poor thermal conductivity and electrical
            conductivity. Chemically, nonmetals tend to have relatively high ionization energy, electron affinity, and
            electronegativity. They gain or share electrons when they react with other elements and chemical compounds.
            Seventeen elements are generally classified as nonmetals: most are gases (hydrogen, helium, nitrogen,
            oxygen, fluorine, neon, chlorine, argon, krypton, xenon and radon); one is a liquid (bromine); and a few are
            solids (carbon, phosphorus, sulfur, selenium, and iodine). Metalloids such as boron, silicon, and germanium
            are sometimes counted as nonmetals.<br><br>

            The nonmetals are divided into two categories reflecting their relative propensity to form chemical
            compounds: reactive nonmetals and noble gases. The reactive nonmetals vary in their nonmetallic character.
            The less electronegative of them, such as carbon and sulfur, mostly have weak to moderately strong
            nonmetallic properties and tend to form covalent compounds with metals. The more electronegative of the
            reactive nonmetals, such as oxygen and fluorine, are characterised by stronger nonmetallic properties and a
            tendency to form predominantly ionic compounds with metals. The noble gases are distinguished by their great
            reluctance to form compounds with other elements.<br><br>

            The distinction between categories is not absolute. Boundary overlaps, including with the metalloids, occur
            as outlying elements in each category show or begin to show less-distinct, hybrid-like, or atypical
            properties.<br><br>

            Although five times more elements are metals than nonmetals, two of the nonmetals—hydrogen and helium—make
            up over 99% of the observable universe. Another nonmetal, oxygen, makes up almost half of the
            Earth's crust, oceans, and atmosphere. Living organisms are composed almost entirely of nonmetals:
            hydrogen, oxygen, carbon, and nitrogen.bNonmetals form many more compounds than metals.

        </p>
        <div align="center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Simple_Periodic_Table_Chart-en.svg/585px-Simple_Periodic_Table_Chart-en.svg.png"
                alt="">
        </div><br>
        <p >Metalloids are included in the legend as they generally behave chemically like nonmetals and
            are sometimes counted as such. <br>
            Apart from hydrogen, nonmetals are located in the p-block. Helium, as an s-block element, would normally be
            placed next to hydrogen and above beryllium. However, since it is a noble gas, it is instead placed above
            neon (in the p-block).</p><br>

        <h4 style="font-family: 'Alex Brush';font-size: 26px;">Properties</h4>
        <hr>
        <h6>Form and structure : </h6>
        <p>Nonmetals show more variability in their properties than do metals. These properties are largely
            determined by the interatomic bonding strengths and molecular structures of the nonmetals involved, both of
            which are subject to variation as the number of valence electrons in each nonmetal varies. Metals, in
            contrast, have more homogenous structures and their properties are more easily reconciled.<br><br>

            Physically, they largely exist as diatomic or monatomic gases, with the remainder having more substantial
            (open-packed) forms, unlike metals, which are nearly all solid and close-packed. If solid, they have a
            submetallic appearance (with the exception of sulfur) and are mostly brittle, as opposed to metals, which
            are lustrous, and generally ductile or malleable; they usually have lower densities than metals; are mostly
            poorer conductors of heat and electricity; and tend to have significantly lower melting points and boiling
            points than those of metals.</p><br><br>
    
</div>



{% endblock %}