{%extends 'blog/index.html' %}

{%block content%}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'blog-home' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">update</li>
    </ol>
</nav>
<form action="" method="POST">
    {{form.as_p}}
    {%csrf_token%}
    <input type="submit" class="btn btn-success" value="Update">
    <a href="{% url 'post_delete' id %}" class="btn btn-danger">Delete</a>
    <!-- <input type="submit" class="btn btn-danger" value="Delete"> -->
</form>
{%endblock%}

