{%extends 'blog/index.html' %}

{% block title_block%}Share Post by Email{%endblock%}

{%block content%}
    {%if sent%}
    <h1 style="font-family: 'Croissant One';padding:0 0 0 1em;">Email Successfully Sent !</h1>
    <p style="font-family: 'Croissant One';padding:0 0 0 1.5em;">"{{post.title}}" was sent by email</p>
    {%else%}
    <h2 style="font-family: 'Croissant One';padding:0 0 0 1em;">Share {{post.title}}" by Email!"</h2>
    <hr class="my-4">
        <form method="post">
            {{form.as_p}}
            {%csrf_token%}
            <input type="submit" name="" class='btn btn-lg btn-success' value="Send Mail">
        </form>
    {%endif %}

{%endblock%}